.imgHome{
  background-image: url('../../../../assets/images/Grupo\ 31@2x.png');
  background-size: cover !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: right !important; 
  height: 400px;
}

.loginHome{
  height: 400px;
}