<ion-content>
  <div class="row">

    <div class="col-6 d-none d-lg-flex align-items-center py-5" style="height: 100vh;">
      <div class="w-100 imgHome pt-5"></div>
    </div>

    <div class="col-12 col-lg-6 d-flex align-items-center py-5" style="height: 100vh;">
      <div class="w-100 loginHome d-flex align-items-center px-5">
        <div style="width: 320px;">
          <div class="text-center">
            <h2 class="h2 mt-0 p-0 mb-3 font-weight-light">Bienvenido!</h2>
          </div>

          <form>
            <input type="email" class="form-control mb-2" placeholder="Email">
            <input [type]="typeInput" class="form-control" placeholder="Password">
          </form>

          <ion-button expand="block" class="mt-2" color="primary" fill="solid">
            <fa-icon [icon]="faSync" class="mr-2"></fa-icon> Entrar
          </ion-button>

          <div class="text-center mt-2">
            <button type="button" class="btn btn-link text-muted btn-sm" style="text-decoration:underline;">
              ¿Has olvidado tu contraseña?
            </button>
          </div>

        </div>
      </div>
    </div>

  </div>
</ion-content>